@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@layer components {
  .container {
    @apply w-full;
  }
  .content {
    @apply max-w-[1400px] flex flex-col items-center px-4 md:px-8 lg:px-12;
  }
  .blueButton{
    @apply my-4 bg-[#068FFF] py-2 px-8 text-[20px] text-[#fff] rounded-md cursor-pointer
  }
  .inputProp{
    @apply mt-1 px-3 py-4 w-full shadow-md  focus:outline-[customPink] block w-full rounded-md sm:text-sm focus:ring-1 
  }
}

@layer base {
  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl xl:text-6xl font-bold;
  }
  h2 {
    @apply text-3xl lg:text-4xl xl:text-5xl font-semibold;
  }
  h3 {
    @apply text-[22px] font-bold md:text-[26px] font-bold;
  }
  big {
    @apply text-[22px] md:text-[26px];
  }
  p {
    @apply text-[18px] md:text-[22px];
  }
}
